@import 'vars'
    
.modal
    display: flex
    justify-content: center
    position: absolute
    top: 60px
    width: 100vw
    min-height: calc(100vh - 60px)
    background-image: url('../images/food-3270461.jpg')
    background-size: cover
    color: white
    padding-bottom: 2rem

    &__container
        background-color: rgba(0,0,0,.8)
        height: min-content
        margin-top: 2rem
        width: 50%

        &__title
            margin-bottom: 2rem
            text-align: center
            font-size: 2.5rem
            background-color: rgba(0,0,0,.5)
            padding: 1.25rem

        &__wrapper
            padding: 0 4rem

            &__field
                display: flex
                flex-direction: column
                margin-bottom: 2rem

                &__label
                    font-size: 1.5rem
                    font-weight: bold
                    margin-left: .2rem
                    margin-bottom: .2rem
                    color: $primary
                    

                &__input
                    font-size: 2rem
                    font-weight: bold
                    padding: .5rem 2rem
                    outline: none
                    border: 3px solid $dark
                    border-radius: 1rem

                    &:focus
                        border: 3px solid $primary                    

            &__buttons
                display: flex
                background-color: rgba(0,0,0,.5)
                padding: 2rem

                &__submit
                    display: block
                    margin: auto
                    background-color: $primary
                    color: white
                    font-size: 1.5rem
                    font-weight: bold
                    padding: .5rem 2rem
                    border-radius: 1rem
                    border: none
                    margin-right: 2rem

                    &:hover
                        cursor: pointer
                        background-color: white
                        color: $primary

                &__back
                    display: block
                    margin: auto
                    background-color: white
                    color: $dark
                    font-size: 1.5rem
                    font-weight: bold
                    padding: .5rem 2rem
                    border-radius: 1rem
                    border: none

                    &:hover
                        cursor: pointer
                        color: $primary

                