@import 'vars'
    
.meal
    display: flex
    flex-direction: column
    color: white
    background-color: rgb(40, 39, 42, .8)
    margin-top: 1rem
    padding: 1rem 2rem
    border: 2px solid white
    margin-right: 2rem

    &:hover
        cursor: pointer
        background-color: #505050cc

    &__name
        text-align: center
        font-size: 1.5rem
        font-weight: bold
        border-bottom: 1px solid white
        padding-bottom: .5rem
    
    &__info
        display: flex
        justify-content: center
        text-align: center
        font-size: 1.2rem

        &__element
            width: 120px
            padding-top: .8rem

            &__name, &__value
                padding: .25rem 1rem

            &__name
                color: $primary

    &__buttons
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem 3rem
        border-top: 1px solid white
        margin-top: 1rem

        &__button:hover
            color: $primary
            cursor: pointer

        &__button
            padding: .25rem 2rem
            border-radius: 1rem

            &:hover
                background-color: rgb(40, 39, 42, .7)

.modal
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0,0,0,.6)
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0

.meal__deleteModal
    position: absolute
    background-color: rgba(0,0,0)
    padding: 2rem
    border-radius: 1.5rem

    &__title
        text-align: center
        margin-bottom: .5rem
        font-size: 1.2rem

    &__name
        color: $primary
        text-align: center
        margin-bottom: 1rem
        font-size: 1.2rem

    &__buttons
        display: flex
        justify-content: space-around

        &__submit, &__cancel
            width: 100px
            margin: 0 auto
            font-size: 1rem
            font-weight: bold
            padding: .5rem 0
            border-radius: 1.5rem

        &__submit
            background-color: $primary
            color: white

            &:hover
                background-color: white
                color: $primary
                cursor: pointer

        &__cancel
            background-color: $red
            color: white

            &:hover
                background-color: white
                color: $red
                cursor: pointer
